<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>campbook</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="img/favicon-144.png">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-57.png">

      <!--  Resources style ================== -->
      <link href="/stylesheets/css/theme-FuchiStudio.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
      <section class="animsition">

        <div id="leftSide" class="gradient">
          <div id="home" >
            <!-- Your logo -->
  			    <img src="https://i.imgur.com/yTsOoaa.png" alt="" class="main-logo" />

            <div class="h-content">
              <h1>CampBook</h1>
            </div>

           

          </div>

        </div>

        <div id="rightSide">

          <div class="project">
            <ul class="gallery project_navigation">
              <li class="item col-sm-6 col-xs-12">
                
                <figure>
                  <!-- Your picture -->
                  <img src="https://i.imgur.com/05SimIE.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Ashish Karel</h4>
                      <span>Developer</span>
                    </div>
                    <a href="#project2" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="https://i.imgur.com/S1RQCuU.jpg" alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Rachit Sharma</h4>
                      <span>Product Owner</span>
                    </div>
                    <a href="#project1" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="https://i.imgur.com/9aeJJtm.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Jeetu Ajmera</h4>
                      <span>Developer</span>
                    </div>
                    <a href="#project3" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="https://i.imgur.com/VSHw9AN.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Nitin Chaudhary</h4>
                      <span>developer</span>
                    </div>
                    <a href="#project5" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="https://i.imgur.com/g00LVBM.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Pradyumn Agarwal</h4>
                      <span>Scrum Master</span>
                    </div>
                    <a href="#project4" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>



              <li class="item col-sm-6 col-xs-12">
                <h3 align="center"> SWE Project</h3>
                <h5><center>Our team.</center></h5>
              </li>
            </ul>

            <ul class="project_info">
              <li id="project1">
                <div class="project_content">
                  <h2>Working</h2>
                  <p>
                  </p>
                  <p>
                  </p>
                </div>
              </li>

              <li id="project2">
                <div class="project_content">
                  <h2>working</h2>
                  <p>
                  </p>
                  <p></p>
                </div>
              </li>

              <li id="project3">
                <div class="project_content">
                  <h2>working</h2>
                  <p>
                  </p>
                  <p>
                  </p>
                </div>
              </li>

              <li id="project4">
                <div class="project_content">
                  <h2>working</h2>
                  <p>
                  
                  </p>
                </div>
              </li>

              <li id="project5">
                <div class="project_content">
                  <h2>working</h2>
                  <p>
                  </p>
                </div>
              </li>

              <li id="project6">
                <div class="project_content">
                  <h2>working</h2>
                  <p>
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div id="subscribe">
          <a class="btn btn-default btn-lg" href="/"><i class="fa fa-hand-o-down" aria-hidden="true"></i>Home</a>  <!-- HOME BUTTON -->
          </div>



        </div>
      </section>

      <script src="/stylesheets/js/jquery-1.11.3.min.js"></script>
      <script src="/stylesheets/js/bootstrap.min.js"></script>VIEW
      <script src="/stylesheets/js/animsition.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
      <script src="/stylesheets/js/jquery.countdown.min.js"></script>
      <script src="/stylesheets/js/twitterFetcher_min.js"></script>
      <script src="/stylesheets/js/masonry.pkgd.min.js"></script>
      <script src="/stylesheets/js/imagesloaded.pkgd.min.js"></script>
      <script src="/stylesheets/js/jquery.flexslider-min.js"></script>
      <script src="/stylesheets/js/photoswipe.min.js"></script>
      <script src="/stylesheets/js/photoswipe-ui-default.min.js"></script>
      <script src="/stylesheets/js/jqinstapics.min.js"></script>
      <script src="/stylesheets/js/script.js"></script>
  </body>
</html>
